body, html {
 color: white;
}


.container {
  position: relative;
  top: 20px;
  width: 650px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}



@media only screen and (max-width: 650px) {
  .container {
    max-width: 470px; 
  }
}

@keyframes example {
  from {
    background-color: rgb(221, 14, 14);
  }
  to {
    background-color: rgb(219, 45, 45);
  }
}
