.Header {
    display: flex;
    justify-content: center;
    left: 50%;
    width: 100%;
    background-color: #c95b6d;
    color: white;
    margin-bottom: 25px;
}


.Header h3 {
   line-height: 22px;
}


/* .fill {
    height: 100px;
    width: 700px;
    background-image: linear-gradient(to right, pink 10%, red 100%);
    animation: fill-animation 100s linear forwards;
  }

  @keyframes fill-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

    .cover {
       border-radius: 15px;
       background-color: pink;
    } */