.menu {
  display: flex;
  background-color: #C95B6D;
}

nav {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.menu ul {
  line-height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.menu li {
  flex: 1;
  text-align: center;
}


  
.menu a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 10px;
  text-decoration: none;
}

.menu a:active {
  background-color: #ccc;
  height: 50px; /* set the same height as the normal state */
  text-decoration: none;
}



.menu li.active {
  /* Styles for the active menu item */
  /* Example styles: */
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}





/* .menu {
  display: flex;
  justify-content: space-around;
}


.menu a {
  flex: 1;
  text-align: center;
}

  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
  }
   */