.menu ul li {
  background-color: #9b0707;
}
.menu ul li span {
  margin-left: 5px;
}

.menu #first-option {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.menu .third-option {
  border-top-right-radius: 10px;
}

.menu #active {
  background: #c27e7e;
}

.menu ul {
  line-height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.menu li {
  flex: 1;
  text-align: center;
}

  