.Timer {
    border-radius: 5px;
    height: 385px;
    font-family:'Trebuchet MS', sans-serif;
    border-radius: 5px;
    height: 400px;
  }


  
  #time {
    font-size: 130px;
    line-height: 0;
  }
  

  
  /* *it means the width should weather be equal to this number or lesser to take effect */
  @media only screen and (max-width: 450px) {
    .Timer {
      border-radius: 5px;
      height: 330px;
    }
  
    #time {
      font-size: 65px;
      line-height: normal; /* Reset the line-height to its default value */
    }
  }
  
