.buttonIn {
    margin-top: 20px;
    position: relative;
  }
  
  .buttonIn input {
    box-sizing: border-box;
    text-align: right;
    width: 100%;
    /* outline: none; */
    height: 70px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }

  .buttonIn input:focus {
    outline: none;
  }
  

  .buttonIn button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 10px;
    /* caret-shape: underscore; */
    margin-right: 10px;
    width: 20%;
    padding: auto;
    height: 50px;
    border-radius: 5px;
    outline-offset: 5px;
    cursor: pointer;
    color: inherit;
    background-color: #CD7B7B;
    border-color:#CD7B7B
  }