.todoInput {
    margin-top: 20px;
    position: relative;
  }
  
  .todoInput input {
    box-sizing: border-box;
    text-align: right;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    /* outline: none; */
    height: 80px;
    border-radius: 5px;
    border-style: none;
    color: rgb(197, 164, 164);
  }

  .todoInput input:focus {
    outline: none;
  }
  
    
  .todoInput input::placeholder {
    font-size: 20px; /* Replace with desired font size */
    font-weight: lighter;
    color: #E2B2B2;
    text-align: center;
  }


  .todoInput button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 10px;
    /* caret-shape: underscore; */
    margin-right: 10px;
    width: 20%;
    padding: auto;
    height: 50px;
    border-radius: 5px;
    outline-offset: 5px;
    cursor: pointer;
    color: inherit;
    background-color: #CD7B7B;
    border-color:#CD7B7B
  }

  @media only screen and (max-width: 450px) {
    .todoInput button {
      width: 30%;
    }

    .todoInput input::placeholder {
      margin-right: 70px;
      text-align: right;
    }

  }
