.form-container {
    height: 150px;
    border: none;
    outline: none;
  }
  
  .input-container {
    position: relative; /* Add this to establish a positioning context */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  
  }
  
  .input-field {
    text-align: right;
    flex-grow: 1;
    padding-left: 80px; /* Adjust as needed to create space for buttons */
    border: none;
    outline: none;
  }
  
  .button-container {
    position: absolute;
    left: 15px; /* Adjust as needed to position the buttons */
    display: flex; /* Use flexbox to distribute the buttons */
    align-items: center; /* Center the buttons vertically */
    gap: 0px; /* Add a gap of 15px between the buttons */

  }

  
  .button {
    height: 50%;
  }
  